#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #2c3e50;
}

.font, .font * {
    font-size: 13px !important;
}

html,
body,
#app,
.el-container {
    padding: 0px;
    margin: 0 !important;
    height: 100%;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center
}

.el-menu--horizontal > .el-sub-menu .el-sub-menu__title,
.el-menu--horizontal > .el-menu-item.is-active {
    border-bottom: 0px solid transparent !important;
}

.el-avatar {
    background: transparent !important;
}

.el-menu-vertical-demo {
    height: 100%
}

.el-menu-vertical-demo:not(.el-menu--collapse) {
    width: 230px;
}

.el-switch__label--right {
    z-index: 1;
    right: -10px;
    top: 0.5px;
}

/*关闭时文字位置设置*/
.el-switch__label--left {
    z-index: 1;
    left: 23px;
    top: 0.5px;
}

/*显示文字*/
.el-switch__label.is-active {
    display: block;
}