#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #2c3e50;
}

html,
body,
#app,
.el-container {
    padding: 0px;
    margin: 0 !important;
    height: 100%;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center
}