.dark .el-header {
    padding: 0 !important;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ffffff;
    background-color: #545c64 !important;
}

.dark .title {
    color: #ffffff !important;
    white-space: nowrap
}

.dark .el-menu {
    background-color: #545c64 !important;
}

.dark .el-menu-vertical-demo {
    border-right: 1px solid #999999 !important;
}

.dark .el-menu-vertical-demo .el-menu-item,
.dark .el-menu-vertical-demo .el-sub-menu__title,
.dark .el-menu-horizontal-demo .el-menu-item,
.dark .el-menu-horizontal-demo .el-sub-menu__title {
    color: #ffffff !important;
    background-color: #545c64 !important;
}

.dark .el-menu-item.is-active {
    color: #ffd04b !important;
}

.dark .el-divider__text {
    background-color: #545c64
}

.dark .el-menu--horizontal .el-menu .el-menu-item.is-active,
.dark .el-menu--horizontal .el-menu .el-sub-menu.is-active > .el-sub-menu__title,
.dark .el-menu .el-menu--popup * {
    font-size: 13px !important;
    color: #ffffff !important;
    background-color: #545c64 !important;
}

.dark .project-name {
    color: #eee;
    font-size: 19px;
    font-weight: 600;
    text-align: center;
    margin-left: 10px;
}

.dark .demo .el-switch__label.is-active {
    display: block;
    color: #ffd04b;
}