.dark .el-header {
    padding: 0 !important;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #e6e6e6;
}

.dark .el-avatar {
    background: transparent !important;
}

.dark .el-aside {
    background-color: #2d3a4b;
}

.dark .el-menu-vertical-demo {
    border-right-width: 0
}

.dark .el-menu-vertical-demo:not(.el-menu--collapse) {
    width: 230px;
}

.dark .el-menu-vertical-demo,
.dark .el-menu-vertical-demo .el-menu-item,
.dark .el-menu-vertical-demo .el-sub-menu__title {
    color: #D6E0ED;
    background-color: #2d3a4b !important;
}

.dark .el-menu--horizontal > .el-sub-menu .el-sub-menu__title {
    border-bottom: 0px solid transparent !important;
}

.dark .project-name {
    color: #eee;
    font-size: 19px;
    font-weight: 600;
    text-align: center;
    margin-left: 10px;
}