.sonic-light .el-header {
    padding: 0 !important;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #e6e6e6;
}

.sonic-light .title {
    color: #909399 !important;
    white-space: nowrap
}

.sonic-light .el-menu-vertical-demo .el-menu-item,
.sonic-light .el-menu-vertical-demo .el-sub-menu__title,
.sonic-light .el-menu-horizontal-demo .el-menu-item,
.sonic-light .el-menu-horizontal-demo .el-sub-menu__title {
    color: #909399 !important;
    background-color: #ffffff
}

.sonic-light .el-menu-item:hover {
    background-color: #ECF5FF !important;
}

.sonic-light .el-menu-item.is-active {
    color: #409EFF !important;
}

.sonic-light .el-menu-vertical-demo .el-menu-item.is-active {
    color: #409EFF !important;
}

.sonic-light .el-menu--horizontal .el-menu .el-menu-item.is-active,
.sonic-light .el-menu--horizontal .el-menu .el-sub-menu.is-active > .el-sub-menu__title {
    font-size: 14px !important;
    color: #909399 !important;
}

.sonic-light .project-name {
    color: #606266;
    font-size: 19px !important;
    font-weight: 600;
    text-align: center;
    margin-left: 12px;
}

.sonic-light .demo .el-switch__label.is-active {
    display: block;
    color: #409EFF;
}